* {
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}
