.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

.editorParagraph {
  margin: 0 0 15px 0;
  position: relative;
}
