.edtitingAreaContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  padding: 15px;
  max-width: 1024px;
}

.nothingToEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.giveMeInstruction {
  cursor: pointer;
  transition: opacity .1s ease-in-out;
  color: blue;
}

.giveMeInstruction:hover {
  opacity: 0.6;
}

.hideIcon svg {
  transform: rotate(90deg);
}

.mainAreaContainer {
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr;
}

.mainAreaContainerShowed .hideIcon svg {
  transform: rotate(-90deg);
}